body {
  background: #0e7e12;
  text-align: center;
}

.card {
  background: white;
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  position: relative;
}
.number {
  font-size: 80px;
  line-height: 370px;
}

.click {
  padding-top: 10px;
}
.btn {
  background: lightgray;
}

.btn:hover {
  background: darkgreen;
}
#top {
  margin-right: 250px;
  font-size: 70px;
}
#bot {
  margin-left: 230px;
  font-size: 70px;
}
